* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: #FFFFFF;
      padding: 15px;
      margin: 15px;
}
h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 20px;
}
h2 {
      text-align: center;
      font-size: 12px;
      font-weight: normal;
      padding-bottom: 20px;
}
h3 {
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 40px;
}
.caption {
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    padding-bottom: 10px;
}
.container {
      background-color: #EEEEEE;
      padding-top: 5px;
  }
.whitebox {
    background-color: #FFFFFF;
    padding-bottom: 10px;
  }
  img {
      width: 900px;
      height: 600px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
  }
  .timeline {
    background-color: #EEEEEE;
    margin-right: 20%;
    margin-left: 20%;
    padding-bottom: 15px;
  }
  ul li {
      width: 80%;
      font-size: auto;
      margin-top: 15px;
      margin-bottom: 10px;
      font-weight: normal;
  }
  strong {
      font-size: auto;
  }
div p {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 15px;
}
#wiki {
    text-align: center;
    font-weight: bold;
    padding-bottom: 15px;
}